body{
    margin: 0;
    padding: 0;
}

/*---NAv Section---*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 50px 200px 0px;

}
nav ul{
display: flex;
align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}

/*---Shared Style---*/
.text-primary{
    color: coral;
}

.btn-primary {
   background-color: coral;
   color: white;
   padding: 10px 30px;
   border: none;
   border-radius: 5px;
   font-size: 20px;
   font-weight: bold;
}

.dark-2{
  color: dimgrey;
}
.secondary-bg{
    background-color: #fff8f3;
}
.text-center{
   text-align: center;
}
/*---Banner---*/

.banner{
display: flex;
justify-content: space-between;
margin: 0 35px 0 80px;
}
.banner-content{
    max-width: 700px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 50px;
    font-weight: bold;
}
.profile-pic{
    width: 100%;
    max-width: 400px;
    height:50%;
}

/*---Main---*/
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
margin-top: 130px;
margin-bottom: 130px;
}

/*---Section---*/
.section-title{
font-size: 35px;
font-weight: bold;
color: black;
}
.item-description{
    font-size: 18px;
    color: dimgray;
}

/*---About---*/
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
font-weight: 600;
}

/*---Skills---*/
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.img-icon{
 max-width: 50px;
  border-radius: 50%;
}

/*--Resume--*/
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-sub-title{
    margin-bottom: 20px;
}
.experience-description , .experiance-sub-title{
    color: dimgray;
}

.resume hr{
    margin: 30px 5px;
}
.resume-download-cv{
    margin-top: 50px;
}
